BasedOnStyle: Chromium

# 21st century
ColumnLimit: 120
# Unix
InsertNewlineAtEOF: true

# Indents
IndentWidth: 4
AccessModifierOffset: -4
TabWidth: 4
IndentCaseLabels: false

# Constructors
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeComma

# East const
QualifierAlignment: Right
ReferenceAlignment: Left
PointerAlignment: Left
DerivePointerAlignment: false

# Misc
AlignAfterOpenBracket: BlockIndent
AllowShortFunctionsOnASingleLine: Empty
IncludeBlocks: Preserve
